POSTGRES_USER=gdpirate
POSTGRES_DB=gdpirate
POSTGRES_PASSWORD=change-me

DATABASE_URL=postgresql://gdpirate:change-me@db:5432/gdpirate

LOG_FORMAT=json
LOG_LEVEL=INFO
GDPIRATE_WEB_PORT=8000

NAVER_API_HUB_CLIENT_ID=
NAVER_API_HUB_CLIENT_SECRET=
KAKAO_REST_API_KEY=
