DATABASE_URL=sqlite:///./gdpirate.db
HTTP_TIMEOUT_SECONDS=20
HTTP_MAX_CONCURRENCY=5
HTTP_MAX_REDIRECTS=10
ACCESS_CHECK_MAX_BODY_BYTES=524288
ACCESS_RECHECK_HOURS=24
BLUESKY_API_BASE=https://api.bsky.app
LEMMY_INSTANCES=https://lemmy.world,https://lemmy.ml
MISSKEY_INSTANCES=https://misskey.io
FEED_CONFIG_PATH=./config/feeds.toml
FEDIVERSE_INSTANCE_CONFIG_PATH=./config/fediverse_instances.toml
FEDIVERSE_LOCAL_ONLY=true
NOSTR_RELAYS=wss://nos.lol,wss://relay.primal.net
NOSTR_VIEWER_BASE=https://njump.me
GDURL_BROWSE_URL=https://gdurl.com/all
GDURL_REQUEST_DELAY_SECONDS=1.0
GDURL_MAX_CONCURRENCY=1
GDURL_RESOLVE_MAX_BODY_BYTES=262144
DEDIGGER_BASE_URL=https://www.dedigger.com
DEDIGGER_QUERY_CONFIG_PATH=./config/dedigger_queries.toml
DEDIGGER_REQUEST_DELAY_SECONDS=2.0
DEDIGGER_MAX_CONCURRENCY=1
VALIDATION_DB_BATCH_SIZE=500
COMMONCRAWL_COLLINFO_URL=https://index.commoncrawl.org/collinfo.json
COMMONCRAWL_DATA_BASE=https://data.commoncrawl.org
COMMONCRAWL_CRAWLS=latest
COMMONCRAWL_DEFAULT_MODE=url-index
COMMONCRAWL_WAT_CONCURRENCY=1
COMMONCRAWL_CHECKPOINT_RECORD_INTERVAL=5000
COMMONCRAWL_TEMP_DIR=./commoncrawl-data
ENABLE_GDURL=false
ENABLE_DEDIGGER=false
ENABLE_COMMON_CRAWL=false
